.gradient_text {
  background: linear-gradient(135deg, #f857a6 0%, #ff5858 40%, #ffcc70 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; 
  color: transparent;
}